<div class="index-container">
  <div class="page-title-container">
    <p class="index-title">Find Your Happening Today</p>
    <div class="new-event-link link-btn">
      <%= link_to "Add New happening", new_event_path %>
    </div>
  </div>

  <div class="event-list future-list">
    <h3 class="h3-title">Upcoming Happenings</h3>
    <ul>
      <% @events.future.each do |event| %>
      <li class="event-title-list"><%= link_to event.title, event %></li>
      <li class="event-title-author">by: <%= link_to event.creator.user_name, event.creator %></li>
      <li class="event-list-time"><%= event.date.to_time.strftime('%B %e') %></li>
      <li class="event-title-details"><br><br>Details<br><br><%= link_to event.description, event %></li>
      <br><br>
      <% end %>
    </ul>
  </div>

  <div class="event-list past-list">
    <h3 class="h3-title" >Past Happenings</h3>
    <ul>
      <% @events.past.each do |event| %>
      <li class="event-title-list"><%= link_to event.title, event %></li>
      <li class="event-title-author">by: <%= link_to event.creator.user_name, event.creator %></li>
      <li class="event-list-time"><%= event.date.to_time.strftime('%B %e') %></li>
      <li class="event-title-details"><br><br>Details <br><br><%= link_to event.description, event %></li>
      <br><br>
      <% end %>
    </ul>
  </div>
</div>
