<h1>What's' Happening</h1>
<p>Find Your Happening Today</p>


<ul>
  <% @events.each do |event| %>
  <li><%= link_to event.title, event %></li>
  <li><%= link_to event.creator.user_name, event %></li>
  <li><%= link_to event.description, event %></li>
  <br><br>
  <% end %>

</ul>

 <li class="log-out-btn"><%= button_to "Logout", destroy_user_session_path, method: :delete  %></li>
 <span class="link-btn"><%= link_to "Sign up here", new_user_registration_path %></span>
        <span><%= button_to "Sign in", user_session_path %></span>
 <div class="flash-message">
  <% flash.each do |name, message| %>
  <div class="<%= name %>"><%= message %></div>
  <% end %>
</div>

