<% e = @event%>


<h3><%= e.title %></h3>
<%= render "shared/event_details", :e => e %>

<% if user_signed_in? %>
<p><%= link_to "Attend Happening", new_admission_path(:event_id => e.id) %></p>

<% end %>

<br>

<% if user_signed_in? %>
<p><%= link_to "Don't Attend Happening", admission_path(e), data: { turbo_method: :delete } %> </p>
<% end %>
<%# apparently i need to add a turbo link for this to do properly %>

<h3>Attendees for this Happening:</h3>
<ul><% e.attendees.each do |a| %>
  <li><%= link_to a.user_name, a %></li>
  <% end %>
</ul>


