<div class="event-show-container">
  <% e = @event%>


  <div class="event-details-container">
    <h3><%= e.title %></h3>
    <%= render "shared/event_details", :e => e %>

    <br><br>

      <div class="event-attendees">
        <h3>Attendees for this Happening:</h3>
        <ul><% e.attendees.each do |a| %>
          <li><%= link_to a.user_name, a %></li>
          <% end %>
        </ul>
      </div>
  </div>

  <div class="event-action-btn">
    <div class="link-btn edit-btn"><%= link_to "Edit Happening", edit_event_path(e) %></div>
    <div class="link-btn delete-btn"><%= link_to "Delete Happening", event_path(e), data: { turbo_method: :delete } %></div>
  </div>

  <% if e.private && e.invitees.include?(current_user)  %>
    <div class="event-btn">
      <% if user_signed_in? %>
      <div class="link-btn attend-btn"><%= link_to "Attend Happening", new_admission_path(:event_id => e.id) %></div>
      <% end %>

      <% if user_signed_in? %>
      <div class="link-btn no-attend-btn"><%= link_to "Don't Attend Happening", admission_path(e), data: { turbo_method: :delete } %> </div>
      <% end %>
    </div>
  <% end %>

  <% if e.private && e.creator == current_user %>
    <div class="invite-container">
      <h3>Invite members to your happening:</h3>
      <%= form_with url: invites_path do |i| %>
        <%= i.collection_select :user_id, User.order(:user_name), :id, :user_name %>
        <%= i.hidden_field :event_id, value: e.id %>
        <%= i.submit "Invite member", class: "link-btn" %>
      <% end %>
    </div>
  <% end %>
</div>
