<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="header">
      <ul>
        <li class="site-title">What's Happening?</li>
        <li class="log-out-btn">
          <%= button_to "Logout", destroy_user_session_path, method: :delete  %>
        </li>
        <li class="link-btn">
          <%= link_to "Sign up here", new_user_registration_path %>
        </li>
        <li>
          <%= button_to "Sign in", user_session_path %>
        </li>
      </ul>
    </div>

    <div class="container">
      <div class="content-container">
        <%= yield %>
        </div>
    </div>

    <div class="footer">

    </div>
  </body>
</html>
